.wrapper {
    margin-top: 2%;
    display: inline-block;
    font-size: 16px;
}

.toolbar {
    width: 68.3rem;
    max-width: 68.3rem;
    font-size: 0.9em;
    text-align: start;
    box-sizing: border-box;
    background-color: #2dbae5;
    font-weight: bold;
    border: 1px solid black;
    padding: 4px;
    margin: 0;
    box-shadow: 0px 1px 10px #565656;
    position: relative;
    top: 2px;
    z-index: 1;
}

.toolbar-icon {
    margin-left: 2px;
}

.toolbar-title {
    margin-left: 6px;
}

.resize-button {
    float: right;
    margin: 2px;
    cursor: pointer;
    transition: color 0.5s;
}

.text-block {
    width: 68.3rem;
    min-width: 68.3rem;
    max-width: 68.3rem;
    height: 22em;
    min-height: 22em;
    font-size: 0.8em;
    box-sizing: border-box;
    border: 1px solid black;
    box-shadow: 0px 1px 10px #565656;
    background-color: white;
    position: relative;
    padding: 4px;
    margin: 0;
    z-index: 0;
}

.wrapper-maximized {
    margin: 2%;
    display: inline-block;
    font-size: 16px;
    height: 94%;
    width: 96%;
}

.toolbar-maximized {
    width: 100%;
    max-width: 100%;
    font-size: 0.9em;
    text-align: start;
    box-sizing: border-box;
    background-color: #2dbae5;
    font-weight: bold;
    border: 1px solid black;
    padding: 4px;
    margin: 0;
    box-shadow: 0px 1px 10px #565656;
    position: relative;
    top: 2px;
    z-index: 1;
}

.text-block-maximized {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 100%;
    font-size: 0.8em;
    box-sizing: border-box;
    border: 1px solid black;
    box-shadow: 0px 1px 10px #565656;
    background-color: white;
    position: relative;
    padding: 4px;
    margin: 0;
    z-index: 0;
}

.wrapper-hidden {
    display: none;
}
